<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Job Displayer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-3g3Tu9x3rroWAtxEvsC0ZFwEuk+qS0bkkCm1cW0wwfsKADVY6jwxKF1u9IiMaivGi99Zyy1Eji2FD6Ns2RzGQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h1 class="site-title">Hiring Café Tracker</h1>
        </div>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="site-footer">
        <div class="container">
            <span>&copy; @DateTime.UtcNow.Year Hiring Café Tracker</span>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-6MGh7N0eZZ+j9RnBbTK1Z4VHKAKjkK3uJ+jUivmaGadRDEjJGN9ofuUBev5nYeD1yfknhk+aoCA8Dm+5asJwYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
